h1 {
    text-align: center;
    font-family: Arial;
}

table {
    border: 1px solid;
    width: 70%;
    margin: auto;
    font-family: arial;
}

th {
    font-size: 20px;
}

th,td {
    border-bottom: 1px solid black;
    border-right: 1px solid ;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
}